:root {
    --primary: #EA40A4;
    --business: #3A82EE;
    --personal: var(--primary);
    --light: #EEE;
    --dark: #313154;
    --grey: #888;
    --danger: #f03c39;
    --green: #0B8457;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--light);
    color: var(--dark);
}

.nav-main {
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px;
}

.logo {
    margin-left: 20px;
}

.nav-h {
    font-size: 25px;
    font-weight: 500;
}

.nav-a li a {
    font-weight: 450;
    font-size: 20px;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

section {
    margin: 1rem 0rem;
    padding: 0rem 1.5rem;
}

h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.greeting .title {
    display: flex;

}

.greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title,
.greeting .title input {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;

}

.create-todo .options label {
    background-image: url(img/wave.png);
    background-repeat: no-repeat;
    background-position: 0px 45px;
    background-size: cover;
    object-fit: fill;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;

}

.create-todo .options label:nth-child(2) {
    background-image: url(img/wave\ \(3\).png);
}

.create-todo .options label:nth-child(3) {
    background-image: url(img/wave\ \(2\).png);
}

input[type="radio"],
input[type="chexkbox"] {
    display: none;
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}

.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble::after {
    content: '';
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

input:checked~.bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

.create-todo .submit-btn {
    display: block;
    width: 32.3%;
    font-size: 1.225rem;
    padding: 1rem 1.5rem;
    color: #FFF;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: var(--personal-glow);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.create-todo .submit-btn:hover {
    opacity: 0.85;
}


.todo-list .list {
    margin: 1rem 0rem;
}

.todo-list h3 {
    color: var(--grey) !important;
    font-weight: 500;
    font-weight: 20px;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-left: 1rem;
    cursor: pointer;
}

.todo-item label input {
    display: none;
}


.todo-item .todo-content {
    flex: 1 1 0%;
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;

}

.todo-item .todo-content input {
    color: var(--dark);
    font-size: 1.125rem;
}

.actions {
    display: flex;
    align-items: center;
}

.actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.2 ease-in-out;
}

.todo-item.actions button:hover {
    opacity: 0.75;
}

.edit {
    margin-right: 0.5rem;
    background-color: var(--primary);

}

.delete {
    background-color: var(--danger);
}

.d-icon {
    color: #FFF;
}


.todo-item.done .todo-content input {
    text-decoration: line-through;

}

@media (max-width:777px) {
    .create-todo .options {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .submit-btn {
        width: 100% !important;
    }
}